{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container hero-image">
        <div class="row h-100">
            <div class="col-11 col-md-6 my-auto">
                <h2 class="catch-copy">
                  Brighten up your home, office, and everywhere with our air-purifying, stress-reducing companion plants!
                </h2>
                <div class="my-5">
                    <h3>
                        <a href="{% url 'products' %}" class="shop-now-button btn text-uppercase py-3">Find one!</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid carousel-div py-4">
        <div id="carouselExampleCaptions" class="carousel slide col-12 col-lg-8 offset-lg-2 p-0 rounded" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active rounded">
                <a href="{% url 'products' %}?category=succulents">
                  <img src="{{ MEDIA_URL }}succulents-3-on-table.webp" class="d-block w-100 rounded" alt="succulents-3-on-table">
                  <div class="carousel-caption d-none d-md-block">
                    <p class="h5">Succulents</p>
                    <p>Check lovely succulets!</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item rounded">
                <a href="{% url 'products' %}?category=airplants">
                  <img src="{{ MEDIA_URL }}airplants-in-glass-bowl.webp" class="d-block w-100 rounded" alt="airplants-in-glass-bowl">
                  <div class="carousel-caption d-none d-md-block">
                    <p class="h5">Air plants</p>
                    <p>Easy care and those are cool interior</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item rounded">
                <a href="{% url 'products' %}?category=indoor">
                  <img src="{{ MEDIA_URL }}houseplants-in-small-pots.webp" class="d-block w-100 rounded" alt="houseplants-in-small-pots">
                  <div class="carousel-caption d-none d-md-block">
                    <p class="h5">House plants</p>
                    <p>Get a small pot of houseplant that requires less water.</p>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
{% endblock %}