{% extends "base.html" %}
{% load static %}
{% block  extra_title %}FAQ - {{ category }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'faq/css/faq-style.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <h2 class="">FAQ - {{ category }}</h2>
                <hr>
                <!-- Category quick access links -->
                {% for c in category_list %}
                    <a class="category-badge text-decora mb-1" href="{% url 'faq' %}?category={{ c.pk }}">
                        <span class="p-2 mt-2 badge badge-light text-black border border-dark">{{ c.name }}</span>
                    </a>
                {% endfor %}
                <!-- FAQ contents -->
                </div>
            </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">         
                <div class="accordion">
                {% for faq in faqs %}
                    <div class="accordion-item">
                      <div class="accordion-header">
                        {{ faq.question }}
                        <span class="icon">&#x25B6;</span>
                      </div>
                      <div class="accordion-content">
                        {{ faq.answer }}
                      </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'faq/js/accordion.js' %}"></script>
{% endblock %}