{% extends "base.html" %}
{% load static %}
{% block  extra_title %}FAQ - {{faqs.category}}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'faq/css/faq-style.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <h2 class="">FAQ - {{faqs.category}}</h2>
                <hr>
                <div class="accordion">
                {% for faq in faqs %}
                    <div class="accordion-item">
                      <div class="accordion-header">
                        {{ faq.question }}
                        <span class="icon">&#x25B6;</span>
                      </div>
                      <div class="accordion-content">
                        {{ faq.answer }}
                      </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'faq/js/accordion.js' %}"></script>
{% endblock %}