:root {
    /** Fonts */
    --title: "Handlee", serif;
    --main-font: "Comfortaa", serif;

    /* Colours */
    --light-green: #e8ecc9;
    --mos-green: #cdd6af;
    --whitish: #fdfae2;
    --logo-green: #4d5f37;
    --light-orange: #f7d9a4;
    --dark-color: #0e170f;
    --star-yellow: #faa907;
    --star-gray: #27252594;
    --white: #fff;
    --black: #000;

    /* Shadows */
    --small-shadow: 1px -1px 7px rgba(31, 38, 19, 0.707);
}

/* Base Tag style */
html {
    height: 100%;
}

body {
    background: linear-gradient(to right, rgba(240, 249, 231, 0.9), rgba(240, 249, 231, 0.1)),
    url('/media/hero-colourful-succulents-100dpi.1500xh.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--logo-green);
    font-family: var(--main-font);
    font-weight: 400;
    font-style: normal;
    font-size: 85%;
}

header {
    border-bottom: 3px solid var(--logo-green);
    box-shadow: var(--small-shadow);
}

main {
    flex: 1 0 auto;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

/* Bootstrap text primary color */
a:hover,
a:active,
a:focus {
    color: #0a9186;
    text-decoration: none;
}

h1 {
    font-family: var(--title);
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}


/* Base button text etc class */

.text-black {
    color: var(--dark-color) !important;
}
.text-logogreen {
    color: var(--logo-green);
}

.border-black {
    border: 1px solid var(--dark-color) !important;
}

.btn-black {
    background: var(--logo-green);
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Change Bootstrap button style */
.btn-b-danger {
    color: #dc3545;
    border-color: #dc3545;
    font-weight: 800;
}
.btn-b-secondary {
    color: #6c757d;
    border-color: #6c757d;
    font-weight: 800;
}
.btn-b-success {
    color: #1e7e34;
    border-color: #1e7e34;
    font-weight: 800;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Logo colour class */
.bg-lgreen {
    background-color: var(--light-green);
}
.bg-logogreen {
    background-color: var(--logo-green);
}
.bg-whitish {
    background-color: var(--whitish);
}


/* Header Navigation and Delivery section style */

.main-logo-link {
    width: fit-content;
}

.nav-link {
    padding: .25rem 0.5rem;
}

.navbar-toggler {
    padding: 0;
}
.navbar-toggler-icon {
    margin: 3px;
}

.navbar-light .navbar-toggler {
    background-color: var(--mos-green);
    border-color: var(--dark-color);
}

/* Nav drop down list */
/* Change Bootstrap dropdown hover colour */
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--whitish);
    background-color: var(--logo-green);
}

/* Nav mobile header */
.mobile {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#delivery-banner {
    background-color: var(--light-orange);
    padding-top: 133px;
    padding-bottom: 3px;
}

/* ----------------------------------------------Top page style */
.catch-copy {
    color: var(--dark-color);
    font-weight: 700;
    font-style: italic;
}

.hero-image {
    height: 85%;
}

.carousel-div {
    background-color: var(--whitish);
}

#carouselExampleCaptions {
    box-shadow: var(--small-shadow);
}

.shop-now-button {
    background: var(--logo-green);
    color: var(--white);
    font-weight: 700;
    min-width: 260px;
    border-radius: 12px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--dark-color);
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: var(--mos-green);
    color: var(--dark-color);
    font-weight: 500;
}

/* ----------------------------------------Product list page */
/* Card hover style */
.hover-color:hover,
.hover-color:active,
.hover-color:focus {
    background-color: var(--whitish);
    box-shadow: 5px -5px 7px var(--logo-green);
}

a.category-badge > span.badge:hover {
    background: var(--logo-green) !important;
    color: var(--white) !important;
}

/* Back to Top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: var(--light-green);
}

/* Product Form - custom_clearable widget style - button and delete check box */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ae3b47;
    border-color: #dc3545;
    border-radius: 0;
}

/*---------------------------------------------------------- Star rating */
/* Average rating */
.checked:hover,
.checked {
    color: var(--star-yellow);
}

/* User indivisual rating */
.rating-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    list-style: none;
    width: fit-content;
}

.rating-list .fa-star {
    color: var(--star-gray);
    padding: 3px 5px;
}

/* Style for the hover color */
label.fa-star:hover ~ label.fa-star,
label.fa-star:hover + label.fa-star,
label.fa-star:hover,
label.fa-star:hover ~ label.fa-star {
    color: var(--star-yellow);
}


/* Style for the checked color */
label.checked ~ label.fa-star,
input:checked ~ label.fa-star,
input:checked + label.fa-star {
    color: var(--star-yellow);
}

/* --------------------------------- reviews layout */
.review-card {
    flex: 1 1 300px;
    max-width: 400px;
}

#review-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 96, 65, 0.8);
    z-index: 9999;
}

#review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    z-index: 99999;

}

.review-modal {
    background-color: var(--light-orange);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: var(--small-shadow);
}

/* ------------------------------------------- Shopping bag */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/  FAQ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}

/* -------------------------------- Media Queries */
/* Screen size Small (sm) 576px (Bootstrap) */
@media (min-width: 576px) {
    body {
        font-size: 90%;
    }

    h1 {
        font-size: 2.1rem;
        margin-top: 3px;
    }

    .mobile {
        margin-right: 1rem;
    }

    #delivery-banner {
        padding-top: 138px;
        padding-bottom: 3px;
    }
}

/* Screen size Medium (md) 769px (Bootstrap) */
@media (min-width: 768px) {
    body {
        font-size: 92%;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 5px;
    }

    .mobile {
        margin-right: 1.5rem;
    }
    
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    body {
        font-size: 90%;
    }

    h1 {
        font-size: 2.4rem;
        margin-top: 8px;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        /* z-index: 1030; */
    }
    .mobile {
        margin-right: 2rem;
    }

    .bg-whiteparent {
        background-color: rgba(205, 214, 175, 0.7);
    }

    #delivery-banner {
        padding-top: 135px;
    }

}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    body {
        font-size: 100%;
    }

    .container {
      max-width: 80%;
    }

    #delivery-banner {
        padding-bottom: 4px;
    }

}