:root {
    /** Fonts */
    --title: "Handlee", serif;
    --main-font: "Comfortaa", serif;

    /* Colours */
    --light-green: #e8ecc9;
    --mos-green: #cdd6af;
    --whitish: #fdfae2;
    --logo-green: #4d5f37;
    --light-orange: #fbf5ea;
    --dark-color: #0e170f;
    --star-yellow: #faa907;
    --star-gray: #27252594;
    --white: #fff;
    --black: #000;

    /* Shadows */
    --small-shadow: 1px -1px 7px rgba(31, 38, 19, 0.707);
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to right, rgba(240, 249, 231, 0.8), rgba(240, 249, 231, 0.1)),
    url('/media/succulents-and-air-plants-in-terrarium.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--logo-green);
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 3px solid var(--logo-green);
    box-shadow: var(--small-shadow);
}

main {
    flex: 1 0 auto;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

/* text primary color */
a:hover,
a:active,
a:focus {
    color: #0a9186;
    text-decoration: none;
}

.hover-color:hover,
.hover-color:active,
.hover-color:focus {
    background-color: var(--light-orange);
    box-shadow: 5px -5px 7px var(--logo-green);
}

#delivery-banner {
    padding-top: 95px;
    background-color: var(--logo-green);
}

.catch-copy {
    color: var(--dark-color);
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

h1 {
    font-family: var(--title);
}

.bg-lgreen {
    background-color: var(--light-green);
}

.bg-logogreen {
    background-color: var(--logo-green);
}

.bg-whitish {
    background-color: var(--whitish);
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--dark-color);
    color: white;
    min-width: 260px;
}

.btn-black {
    background: var(--logo-green);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--dark-color);
    color: white;
}

.text-black {
    color: var(--dark-color) !important;
}
.text-logogreen {
    color: var(--logo-green);
}

.border-black {
    border: 1px solid var(--dark-color) !important;
}

.navbar-light .navbar-toggler {
    background-color: var(--mos-green);
    border-color: var(--dark-color);
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: var(--mos-green);
    color: var(--dark-color);
    font-weight: 500;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: var(--logo-green) !important;
    color: var(--white) !important;
}

/* Back to Top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: var(--light-green);
}

/* Product Form - custom_clearable widget style - button and delete check box */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------------- bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}

/* --------------------------------- reviews layout */
.review-card {
    flex: 1 1 300px;
    max-width: 400px;
}

#review-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 96, 65, 0.8);
    z-index: 9999;
}

#review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    z-index: 99999;

}

.review-modal {
    background-color: var(--light-orange);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: var(--small-shadow);
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
}


/* Change Bootstrap button style */
.btn-b-danger {
    color: #dc3545;
    border-color: #dc3545;
    font-weight: 800;
}
.btn-b-secondary {
    color: #6c757d;
    border-color: #6c757d;
    font-weight: 800;
}
.btn-b-success {
    color: #1e7e34;
    border-color: #1e7e34;
    font-weight: 800;
}

/* Change Bootstrap dropdown hover colour */
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--light-orange);
    background-color: var(--logo-green);
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        /* z-index: 1030; */
    }

    .bg-whiteparent {
        background-color: rgba(205, 214, 175, 0.7);
    }

    #delivery-banner {
        padding-top: 185px;
    }

}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    #delivery-banner {
        padding-top: 170px;
        padding-bottom: 4px;
    }

}