<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="shop-plants" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP PLANTS
            </a>
            <div class="dropdown-menu border-0 bg-whitish" aria-labelledby="shop-plants">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?category=succulents" class="dropdown-item ">Succulents plants</a>
                <a href="{% url 'products' %}?category=airplants" class="dropdown-item ">Air plants</a>
                <a href="{% url 'products' %}?category=indoor" class="dropdown-item">Indoor plants</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?sale_price=0" id="specialoffer-link" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFER
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="faq-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
            <div class="dropdown-menu border-0 bg-whitish" aria-labelledby="faq-link">
                <a href="{% url 'faq' %}?category=1" class="dropdown-item">Create terrarium</a>
                <a href="{% url 'faq' %}?category=2" class="dropdown-item">Air Plant Care</a>
                <a href="{% url 'faq' %}?category=3" class="dropdown-item">Succulent Plant Care</a>
                <a href="{% url 'faq' %}?category=4" class="dropdown-item">House Plant Care</a>
                <a href="{% url 'faq' %}?category=5" class="dropdown-item">Returing Product</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="review-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                REVIEWS
            </a>
            <div class="dropdown-menu border-0 bg-whitish" aria-labelledby="review-link">
                <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item ">Succulents plants</a>
                <a href="" class="dropdown-item ">Air plants</a>
                <a href="" class="dropdown-item">Indoor plants</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black" href="{% url 'about' %}" id="aboutus-link" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>
    </ul>
</div>