{% extends "base.html" %}

{% load static %}
{% block extra_title %}plants list{{ product.name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div> 
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <h2>Products</h2>
                <hr class="mb-2">
                <!-- Category quick access links -->
                <a class="category-badge text-decora mb-1" href="{% url 'products' %}" aria-label="{{ product.name }} details page">
                    <span class="p-2 mt-2 badge badge-light text-black border border-dark">All products</span>
                </a>
                {% for c in category_list %}
                    <a class="category-badge text-decora mb-1" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-light text-black border border-dark">{{ c.name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <div class="d-flex w-100">
                    <h3 class="small text-muted">
                    {% if search_term or current_category or current_sorting != 'None_None' %}
                        <a href="{% url 'products' %}">Products Home</a> | Filterd by 
                        {% if search_term %}{{ search_term }}
                        {% elif current_category%}{% for c in current_category %}<strong>{{ c.friendly_name }}</strong>{% endfor %}
                        {% elif current_sorting %}{{ current_sorting }}{% endif %} --  {{products|length}} products
                    {% else %}
                        Products Home
                    {% endif %}
                    </h3>
                    <div class="dropdown ml-auto">
                        <select id="sort-selector" aria-label="Sort selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}secondary{% endif %}" >
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2 mb-2">
                    {% for product in products %}
                        <div class="col-sm-6 col-xl-4 px-4 py-4">
                            <div class="card h-100 w-100 border-1 hover-color text-center pt-4 pb-2 px-4">
                                <a href="{% url 'product_detail' product.slug %}" aria-label="{{ product.name }} detail page">
                                {% if product.image %}
                                    <img class="card-img-top img-fluid max-400" src="{{ product.image.url}}" alt="{{ product.name|truncatechars:12 }}">
                                {% else %}
                                    <img class="card-img-top img-fluid max-400" src="{{ MEDIA_URL }}noimage.webp" alt="No image">
                                {% endif %}
                                </a>
                                <div class="card-body pb-0">
                                    <a href="{% url 'product_detail' product.slug %}" aria-label="{{ product.name }} detail page">
                                        <p class="mb-0">{{ product.name }}</p>
                                        <div class="row">
                                            <div class="col">
                                                {% if product.sale_price %}
                                                    <p class="lead mb-0 text-left font-weight-bold text-danger">€{{ product.sale_price }}<s class="small text-muted ml-2">€{{ product.price }}</s></p>
                                                {% else %}
                                                    <span class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</span>
                                                {% endif %}
                                                {% if product.category %}
                                                    <p class="small mt-1 mb-0 text-muted"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</p>
                                                {% endif %}
                                                {% if product.average_rating %}
                                                    <p class="rating gray-icon" title="Average rating value: {{ product.average_rating }}">
                                                        <span class="fa fa-star {% if product.average_rating > 0 %} checked {% endif %}"></span>
                                                        <span class="fa fa-star {% if product.average_rating > 1 %} checked {% endif %}"></span>
                                                        <span class="fa fa-star {% if product.average_rating > 2 %} checked {% endif %}"></span>
                                                        <span class="fa fa-star {% if product.average_rating > 3 %} checked {% endif %}"></span>
                                                        <span class="fa fa-star {% if product.average_rating > 4 %} checked {% endif %}"></span>
                                                        <small class="text-muted">{{ product.average_rating }} / 5</small>
                                                    </p>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-footer border-0 d-flex justify-content-around">
                                    {% if request.user.is_superuser %}
                                        <a class="btn btn-edit btn-b-success" href="{% url 'edit_product' product.id %}">Edit</a>
                                        <a class="btn btn-delete btn-b-danger" data-product-id="{{ product.id }}" href="#">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Delete confirmation modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content p-3">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete this product?</h5>
                                    <button type="button" class="btn-close ml-auto border-0" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Are you sure you want to delete this product?<br>
                                        <br>
                                        This action cannot be undone.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-b-secondary data-dismiss">Close</button>
                                    <a id="deleteConfirm" href="#" class="btn btn-b-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </main>
    <!-- Back to top link -->
    <div class="btt-button shadow-sm rounded border-black d-flex">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Product delete button for confirmation -->
    <script src="{% static 'js/product-delete.js' %}"></script>
    <!-- Bottom to Top link -->
    <script>
		$('.btt-button').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <!-- Sort selector Jquery -->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
            }
        })
    </script>
    
{% endblock %}