{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>

    <main class="container-fluid">
        <!-- Main product details -->
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
            <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home'%}"><small>Home</small></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products' %}"><small>All products</small></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><small>{{ product.name }}</small></li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <!-- Product's image -->
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-3 mt-md-5">
                    <h4 class="mb-0">{{ product.name }}</h4>
                    <p class="mb-1">{{ product.scientific_name }}</p>
                    {% if product.sale_price %}
                        <p class="lead mb-0 text-left font-weight-bold text-danger">€{{ product.sale_price }}<s class="small text-muted ml-2">€{{ product.price }}</s></p>
                    {% else %}
                        <span class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</span>
                    {% endif %}
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.average_rating %}
                    <p class="rating" title="Average rating value: {{ product.average_rating }}"><strong>Average Rating:</strong>
                        <span class="fa fa-star {% if product.average_rating > 0 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 1 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 2 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 3 %} checked {% endif %}"></span>
                        <span class="fa fa-star {% if product.average_rating > 4 %} checked {% endif %}"></span>
                        <small class="text-muted">{{ product.average_rating }} / 5</small>
                    </p>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <div class="w-100 d-flex justify-content-center mb-1">
                            <a class="btn btn-b-success mx-2" href="{% url 'edit_product' product.id %}">Edit</a>
                            <a class="btn btn-delete btn-b-danger mx-2" data-product-id="{{ product.id }}" href="#">Delete</a>
                        </div>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>

                    <!-- Form - add to shopping bag -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-2"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <!-- Prepend quantity -->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <!-- Append quantity -->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-light border mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black text-uppercase mt-2 mb-2" value="Add to Bag">
                            </div>
                            <!-- To submit a field named redirect_url. Which will contain the current URL to the view -->
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Review part -->
    <article class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3 position-relative">
                <h4 class="mb-0"><i class="fa-solid fa-comment-dots"></i> Reviews </h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning position-absolute" style="right: 0; top: 0;" data-target="#review-container" id="review-input-button" aria-label="button for review" title="button for review">
                    Contribute your review!<i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <hr>                
                <!-- Modal body -->
                <div id="review-overlay">                        
                    <div class="container-fluid" id="review-container" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                        <div class="w-50 bg-light review-modal text-right p-5">
                            <button type="button" class="review-btn-close ml-auto border-0" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="text-left">
                                <h4 id="reviewModalLabel"><i class="fa-solid fa-comment-dots"></i> Contribute your review!</h4><hr>
                                <!-- Rating and Reviewing - Authenticated user only -->
                                {% if user.is_authenticated %}
                                    <p class="ml-auto">Posting as: {{ user.username }}</p>
                                    <form id="reviewForm" method="post" class="mt-3"  enctype="multipart/form-data">
                                        <p>How many stars would you like to give this &quot;{{ product.name }}&quot;?</p>
                                        <figure>
                                            <figcaption>Your rating: <i class="fa fa-star"></i></small></figcaption>
                                                <div class="d-flex flex-wrap">
                                                    <div class="btn btn-light rating-list">
                                                        <input type="radio" class="d-none" name="rate" id="5" value="5" {% if personal_rate is not None and personal_rate == 5 %}checked{% endif %}>
                                                        <label for="5" class="fa fa-star {% if personal_rate is not None and personal_rate == 5 %}checked{% endif %}"
                                                            title="Rate 5"></label>
                                                        <input type="radio" class="d-none" name="rate" id="4" value="4" {% if personal_rate is not None and personal_rate == 4 %}checked{% endif %}>
                                                        <label for="4" class="fa fa-star {% if personal_rate is not None and personal_rate == 4 %}checked{% endif %}"
                                                            title="Rate 4"></label>
                                                        <input type="radio" class="d-none" name="rate" id="3" value="3" {% if personal_rate is not None and personal_rate == 3 %}checked{% endif %}>
                                                        <label for="3" class="fa fa-star {% if personal_rate is not None and personal_rate == 3 %}checked{% endif %}"
                                                            title="Rate 3"></label>
                                                        <input type="radio" class="d-none" name="rate" id="2" value="2" {% if personal_rate is not None and personal_rate == 2 %}checked{% endif %}>
                                                        <label for="2" class="fa fa-star {% if personal_rate is not None and personal_rate == 2 %}checked{% endif %}"
                                                            title="Rate 2"></label>
                                                        <input type="radio" class="d-none" name="rate" id="1" value="1" {% if personal_rate is not None and personal_rate == 1 %}checked{% endif %}>
                                                        <label for="1" class="fa fa-star {% if personal_rate is not None and personal_rate == 1 %}checked{% endif %}"
                                                            title="Rate 1"></label>
                                                    </div>
                                                </div>
                                        </figure>
                                        {% csrf_token %}
                                        {% for field in review_form %}
                                            {% if field.name != 'image' %}
                                                {{ field | as_crispy_field }}
                                            {% else %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="w-100 text-right d-flex">
                                            <button type="button" class="btn btn-b-secondary review-btn-close">Close</button>
                                            <button id="submitButton" type="submit" class="btn btn-black btn-warning ml-auto">Submit</button>
                                        </div>
                                        </form>
                                <!-- Login links for non authenticated users -->
                                {% else %}
                                    <p>Log in to leave a review?</p>
                                    <p><a href="/accounts/login" class="btn btn-b-success p-1 mb-1" aria-label="Log-in link" title="Log-in"><i
                                                class="fa-solid fa-right-to-bracket"></i> Log-in</a> to rate this product, or <a
                                            href="/accounts/signup" class="btn btn-b-success p-1 mb-1" aria-label="Sign-Up link" title="Sign-up"><i class="fa-solid fa-user-pen"></i> Sign-up</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Iterate through each review in ReviewRating -->
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <div class="d-flex flex-wrap">
                    {% for review in reviews %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 py-3 px-3 align-items-stretch">
                        <div class="card h-100 shadow">
                            <div class="card-body"> 
                                <a href="{% url 'product_detail' review.product.slug %}"><h5 class="card-title">{{ review.product|truncatechars:20 }} </h5></a>
                                <span class="small">wrote on: {{ review.created_on }}</span> 
                                <p class="rating" title="Average rating value: {{ review.rating }}">
                                    <span class="fa fa-star {% if review.rating > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 3 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 4 %} checked {% endif %}"></span>
                                    <small class="text-muted">{{ review.rating }} / 5</small>
                                </p>
                            </div>
                            <div class="mx-3" id="review{{ review.id }}">
                                {{ review.review_body | linebreaks }}
                            </div>
                            <div>
                                {% if review.image %}
                                    <img class="card-img-top" src="{{ review.image.url }}" alt="{{ review.reviewer }}" width="100">
                                {% else %}
                                    <img class="card-img-top" src="{{ MEDIA_URL }}placeholder.png" alt="{{ review.reviewer }}" width="96">
                                {% endif %}
                            </div>
                            {% if user.is_authenticated and request.user == review.reviewer %}
                            <div class="w-100 d-flex justify-content-center mb-3">
                                <button class="btn btn-edit btn-b-success mx-2" data-id="{{ review.id }}" data-slug="{{ review.product.slug }}">Edit</button>
                                <button class="btn btn-delete btn-b-danger mx-2" data-id="{{ review.id }}" data-slug="{{ review.product.slug }}">Delete</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>          
            </div>
        </div>
    </article>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete this product or your review?</h5>
                    <button type="button" class="btn-close ml-auto border-0" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this? 
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-b-secondary data-dismiss" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-b-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Product delete button for confirmation -->
    <script src="{% static 'js/product-delete.js' %}"></script>
    <script src="{% static 'js/product-review-create-edit.js' %}"></script>
    <!-- Cunstom clearable widget -->
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}