{% extends "base.html" %}
{% load static %}
{% block  extra_title %}Reviews - {{ category }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-3">
                <h2 class="">Reviews - {% if category %}{{ category }} {% else %} All products reviews{% endif %} </h2>
                <hr>
                <!-- Category quick access links -->
                <a class="category-badge text-decora" href="{% url 'review' %}">
                    <span class="p-2 mt-2 badge badge-light text-black border border-dark">All products reviews</span>
                </a>
                {% for c in all_categories %}
                    <a class="category-badge text-decora" href="{% url 'review' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-light text-black border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <!-- Iterate through each review in ReviewRating -->
                <div class="d-flex flex-wrap">
                    {% for review in reviews %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 py-3 px-3 align-items-stretch">
                        <div class="card h-100 shadow">
                            <div class="card-body"> 
                                <a href="{% url 'product_detail' review.product.slug %}">
                                    <h5 class="card-title">{{ review.product|truncatechars:20 }} </h5>
                                </a>
                                <span class="small">{{ review.created_on|date:"d b, Y" }}</span> 
                                <p class="rating" title="Average rating value: {{ review.rating }}">
                                    <span class="fa fa-star {% if review.rating > 0 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 1 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 2 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 3 %} checked {% endif %}"></span>
                                    <span class="fa fa-star {% if review.rating > 4 %} checked {% endif %}"></span>
                                    <small class="text-muted">{{ review.rating }} / 5</small>
                                </p>
                                <div class="mb-1" id="review{{ review.id }}">
                                    {{ review.review_body | linebreaks }}
                                </div>
                                <div>
                                    {% if review.image %}
                                        <img class="card-img-top" src="{{ review.image.url }}" alt="{{ review.reviewer }}" width="100">
                                    {% else %}
                                        <img class="card-img-top" src="{{ MEDIA_URL }}placeholder.png" alt="{{ review.reviewer }}" width="96">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}